body {
    background-color: #192A62;
    font-size: large;
    font-family: "Baloo 2";
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.profileContainer {
    text-align: center;
}
