body {
    background-color: #192A62;
    font-size: large;
    font-family: "Baloo 2";
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.profileContainer {
    text-align: center;
<<<<<<< HEAD
    
=======
}

.profileContainer2 {
    margin-left: -150;
>>>>>>> f0964b5aa43635331bc30e268d8d1250d1ee1ae9
}

.img {
    width: 250px;
    height: 250px;
}

.logo {
    max-height: 60px;
}

.container-with-background {
    background-image: url('/foebackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}