/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap'); */
:root {
    --darkblue: #3e5ab3;
    --darkerblue: #192a62;
    --burntorange: #cd870e;
    --burntorangeHover: #ffa916;
    --darkblueHover: #617fe1;
}

.umbrella,
.overlay {
    font-family: "Baloo 2";
    height: 100vh;
    padding: 0px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

.stupidlogoimage {
    background-image: url("../../../public/logo.png");
}

#map,
#pano {
    float: left;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../public/exBG.png');
    background-size: contain;
    background-color: #13294b;
    overflow: hidden;
    margin-bottom: 0px;
}

#overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#timer {
    position: relative;
    color: white;
    width: 200px;
    text-align: center;
    font-size: 45px;
    /* margin-left: calc(50vw - 100px); */
    background-color: var(--darkblue);
    height: 60px;
    border-radius: 34px;
    padding-bottom: 8px;
    font-weight: bold;
    vertical-align: center;
    margin-top: 10px;
}

.logo {
    float: left;
    margin: 10px;
}

#roundCounter {
    position: relative;
    width: 200px;
    font-size: 35px;
    max-width: 120px;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--darkblue);
    padding: 10px;
    margin-top: 10px;
    color: white;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
    top: 0px;
}

#guessOverlay {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    right: 0px;
    margin: 15px;
    margin-bottom: 10px;
}

#controlsOverlay {
    margin: 0px;
    padding: 10px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    float: left;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(0.5px);
    padding-top: 0px;
    border-radius: 0px 10px 0px 0px;
    margin-bottom: 70px;
}


#controlsOverlay button {
    background-color: #13294b;
    color: white;
    border: none;
    border-radius: 50%;
    width: 55px;
    margin-left: 10px;
    height: 55px;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, background-color 0.2 ease;
    margin-bottom: 10px;
}

#controlsOverlay button:hover {
    transform: scale(1.1);
    background-color: #1e3a6b;
}

#scoreScreen button,
#guessOverlay button {
    height: 40px;
    font-family: "baloo 2";
    background-color: var(--burntorange);
    border-radius: 10px;
    border: none;
    color: var(--darkblue);
    font-size: 25px;
    font-weight: 600;
}

#scoreScreen button {
    color: white
}

#scoreScreen button:hover,
#guessOverlay button:hover {
    background-color: var(--burntorangeHover);
}


#selectMap {
    margin-bottom: 15px;
}



#scoreScreen {
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: var(--darkblue);
    width: 100%;
    height: 100vh;
    border-radius: 0px;
}

#guessMap {
    width: 400px;
    height: 300px;
    z-index: 5;
    background-image: url(../../../public/exMap.png);
    background-size: cover;
    margin-bottom: 10px
}


#scoreBar {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#scorebar canvas {
    margin: auto;
}

#scoreBar button {
    margin: auto;
    width: 400px;
}

#score {
    font-size: 50px;
    color: white;
    font-weight: bold;
    line-height: .8;
}

#guessInfo {
    font-size: 30px;
}

#scoringMap {
    width: 80vw;
    height: 50vh;
    background-color: lightgrey;
    margin-left: 10vw;
    background-image: url(../../../public/exMap.png);
    background-size: cover;
}

#roundInformation {
    width: 100%;
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    display: block;
}